<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/lib/style.css" rel="stylesheet">
    <title></title>
    <script type="text/javascript">
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a>
                <span class="navbar-brand mb-0 h1">忠順 {{search_filter}}</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">目標總覽</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            任務
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/nmap">掃描</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">攻擊</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">漏洞項目</a>
                    </li>
                </ul>
                <a>登出</a>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-4">
            <!-- search bar n button-->
            <form class="form-inline" name="test" action="" method="Post">
                <input class="form-control mr-sm-1 mb-sm-1" type="search" placeholder="Search" aria-label="Search" name="search_filter" style="width:80%">
                <button class="btn btn-outline-success my-2 my-sm-0 mb-sm-1" type="submit">搜尋</button>
            </form>
            <div class="list-group" id="list-tab" role="tablist" style="height:820px;overflow:auto;">
                {%for target in target_list%}
                <a class='list-group-item list-group-item-action' id='list-{{target}}' data-toggle='list' href='#list-{{target}}-list' role='tab'
                    aria-controls='list-{{x}}-list'>{{target}}</a>
                {%endfor%}
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent" style="height:820px;overflow:auto;">
                <!---->
                <!---->
                {%for target in target_list%}
                <div class='tab-pane fade' id='list-{{target}}-list' role='tabpanel' aria-labelledby='list-{{target}}-list'>
                    
                    <div style='display:inline-block;'>
                        <h1>主機IP: {{target}}</h1>
                    </div>
                    
                    <div style='display:inline-block; float:right; padding-top:20px;'>
                        <h4 style='text-align:right;'>上次掃描時間: {{scan_list[target]['time_man']}}</h4>
                    </div>
                    <hr class='style-one' />
                             
                    
                    <table class='table table-bordered'>
                        <thead class='thead-light'>
                            <tr>
                                <th scope='col'>port</th>
                                <th scope='col'>協定</th>
                                <th scope='col'>服務</th>
                                <th scope='col'>詳細資訊</th>
                            </tr>
                            <tbody>
                                {%for port_detail in scan_list[target]%} {%if scan_list[target][port_detail]['port'] != NULL %}
                                <tr>
                                    <td>{{ scan_list[target][port_detail]['port'] }}</td>
                                    <td>{{ scan_list[target][port_detail]['name'] }}</td>
                                    <td>{{ scan_list[target][port_detail]['product']}} {{scan_list[target][port_detail]['version']}}</td>
                                    <td>{{ scan_list[target][port_detail]['extrainfo'] }}</td>
                                </tr>
                                {%endif%} {%endfor%}
                            </tbody>
                        </thead>
                    </table>
                    <table class='table table-bordered'>
                        <thead class='thead-light'>
                            <tr>
                                <th scope='col'>漏洞編號</th>
                                <th scope='col'>掃描結果</th>
                                <th scope='col'>掃描時間</th>
                            </tr>
                            {%for nse_detail in nse_list[target]['vuln']%}
                            <tr>
                                <td>{{nse_detail}}</td>
                                {%if nse_list[target]['vuln'][nse_detail]['hack'] == 'Not Thing'%}
                                <td style="color: #32CD32;">No Vulnerable</td>
                                {%else%}
                                <td style="color: #ff0000;">Vulnerable</td>
                                {%endif%}
                                <!--<td>{{nse_list[target]['vuln'][nse_detail]['hack']}}</td>-->
                                <td>{{nse_list[target]['vuln'][nse_detail]['time_man']}}</td>
                            </tr>
                            {%endfor%}
                        </thead>
                    </table>
                </div>
                {%endfor%}
                <!---->
                <!---->
            </div>
        </div>
    </div>
    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/popper.min.js"></script>
</body>
<footer>
</footer>

</html>