<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/lib/style.css" rel="stylesheet">
    <link href="static/css/lib/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="static/css/lib/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="static/css/lib/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
    <title></title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a>
                <span class="navbar-brand mb-0 h1">忠順</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="overview">目標總覽</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            任務
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/scan">掃描(單一)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/mutiscan">掃描(清單)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">漏洞項目</a>
                    </li>
                </ul>
                <a>登出</a>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-4" style="height:820px;overflow:auto;">
            <form method="post" role="form" enctype="multipart/form-data">               
                    <input id="input_list" name="input_list" multiple type="file" class="file" placeholder='上傳清單(副檔名限制為.txt)' data-show-preview='true'>
            </form>
            <form action="add_tasklist" method="POST">
                <input type="hidden" name='test' value='{{test}}'>
                <input class="form-control-inline mr-sm-0 mb-sm-1" type="text" placeholder="Port(例:80,443,3389)" aria-label="text" name="search_port"
                    style="width:40%">
                <input class="form-control-inline mr-sm-0 mb-sm-1" type="text" placeholder="Threads" aria-label="text" name="search_threads"
                    style="width:18%">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#scan_mode" aria-expanded="false" aria-controls="scan_mode"
                                type="button">
                                <h5>掃描模式</h5>
                            </button>
                        </div>
                        <div id="scan_mode" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <!--
                                -sT: (TCP Connect Scan)
                                -sS: (SYN Stealth Scan)
                                -sA: (ACK Scan)
                                -sM: (Mainmon Scan)
                                -sF: (FIN Scan)
                                -sN: (NULL Scan)
                                -sX: (Xmas Tree Scan)
                                -sU: (UDP Scan)
                                -sO: (IP Protocol Scan)
                                -sP: (Ping Sweep)
                                -->
                                {% for x in scan_mode_list %}
                                <div class="form-check">
                                    <label>
                                        <input type="radio" name="scan_mode_list" value="{{x.arg}}">
                                        <span class="label-text">{{ x.name }}</span>
                                        <p>{{x.text}}</p>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ping_mod" aria-expanded="false" aria-controls="ping_mod"
                                type="button">
                                <h5>Ping相關選項</h5>
                            </button>
                        </div>
                        <div id="ping_mod" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <!--
                                    -P0: (Don't Ping)
                                    -PI: (ICMP Echo)
                                    -PE: (Use ICMP Ping Host)
                                    -PR: (ARP Ping)
                                    -PS: (TCP SYN Ping)
                                    -PA: (TCP ACK Ping)
                                    -PU: (UDP Ping)
                                -->
                                {% for x in ping_list %}
                                <div class="form-check">
                                    <label>
                                        <input type="radio" name="ping_list" value="{{x.arg}}">
                                        <span class="label-text">{{ x.name }}</span>
                                        <p>{{x.text}}</p>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#speed_mod" aria-expanded="false" aria-controls="speed_mod"
                                type="button">
                                <h5>設定掃描速度</h5>
                            </button>
                        </div>
                        <div id="speed_mod" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <!--
                                    -T0: (Paranoid)
                                    -T1: (Sneaky) 
                                    -T2: (Polite) 
                                    -T3: (Normal) 
                                    -T4: (Aggressive) 
                                    -T5: (Insane) 
                                -->
                                {% for x in speed_list %}
                                <div class="form-check">
                                    <label>
                                        <input type="radio" name="speed_list" value="{{x.arg}}">
                                        <span class="label-text">{{ x.name }}</span>
                                        <p>{{x.text}}</p>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#other_mod" aria-expanded="false" aria-controls="other_mod"
                                type="button">
                                <h5>其他常用選項</h5>
                            </button>
                        </div>
                        <div id="other_mod" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <!--
                                    -f: (Fragmentation)
                                    -6: (IPv6)
                                -->
                                {% for x in other_list %}
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox" name="other_list{{x.arg}}" value="{{x.arg}}">
                                        <span class="label-text">{{ x.name }}</span>
                                        <p>{{x.text}}</p>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn btn-outline-success my-2 my-sm-0 mb-sm-1" type="submit">掃描</button>
                <button class="btn btn-outline-success my-2 my-sm-0 mb-sm-1" type="reset">重設</button>
            </form>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent" style="height:820px;overflow:auto;">
                <div class="refresh">
                    <table class='table table-bordered'>
                        <thead class='thead-light'>
                            <tr>
                                <th scope='col'>IP(s)</th>
                                <th scope='col'>掃描狀態</th>
                                <th scope='col'>port(s)</th>
                                <th scope='col'>Nmap參數</th>
                                <th scope='col'>執行緒數</th>
                                <th scope='col'>掃描開始時間</th>
                                <th scope='col'>掃描結束時間</th>
                            </tr>
                            {%for task in task_list%}
                            <tr>
                                <td>{{task.target}}</td>
                                <td>{{task.status}}</td>
                                <td>{{task.port}}</td>
                                <td>{{task.arg}}</td>
                                <td>{{task.thread}}</td>
                                <td>{{task.start_time_man}}</td>
                                <td>{{task.end_time_man}}</td>
                            </tr>
                            {%endfor%}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/popper.min.js"></script>
    <script src="static/js/lib/plugins/sortable.js" type="text/javascript"></script>
    <script src="static/js/lib/fileinput.min.js" type="text/javascript"></script>
    <script src="static/js/lib/locales/es.js" type="text/javascript"></script>
    <script src="static/js/lib/locales/zh-TW.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () { $(".refresh").load(location.href + " .refresh"); }, 5000);
        })
    </script>
</body>
<footer>
</footer>

</html>